body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
}

body {
  background-color: #d4e6fe;
}
.container {
  position: absolute;
  width: 600px;
  height: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fdfeff;
  font-family: Poppins;
  padding: 20px;
}

[class*='row'] {
  display: flex;
}

input::placeholder {
  color: #1525f0;
  font-size: 1.1em;
}
input {
  border-radius: 5px;
  width: 100%;
  margin: 5px 15px;
  border: none;
  padding: 15px;
}
.btn {
  position: absolute;
  left: 50%;
  bottom: 5px;
  transform: translate(-50%, -50%);
  padding: 10px 30px;
  border-radius: 25px;
  border: none;
  background-color: #1525f0;
  color: #fdfeff;
  cursor: pointer;
}
h1 {
  line-height: 80px;
  margin-left: 5%;
  color: #1525f0;
}
.container .subMsg {
  font-size: 13px;
  position: absolute;
  bottom: 5px;
  left: 35px;
  color: #4acfa9;
}

textarea {
  border-radius: 5px;
  max-width: 95%;
  width: 100%;
  margin: 15px;
  max-height: 120px;
  height: 120px;
  background-color: #a5b1fd;
  border: none;
}
textarea::placeholder {
  color: #1525f0;
  font-family: Poppins;
  padding: 15px;
}

.address input {
  height: 70px;
  background-color: #c7cdfd;
}
.row1 input {
  background-color: #e7e9fe;
}
.row2 input {
  background-color: #dce1ff;
}
